.PagesLinks {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    * {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        border-bottom: solid rgba(0, 0, 0, 0) 2px;
        transition: 0.2s;
    }

    .ActivePageLink {
        border-bottom: solid #ae0d0d 2px;
        color: #ae0d0d;
    }

    a:hover {
        color: #d80000;
    }

}

@media (min-width: 0px) and (max-width: 766px) {
    .Search, .SearchOpen, .SearchBlock {
     display: none;
    }
    .PagesLinks {
        width: 260px;
        font-size: 14px;
    }
 }