.PagesLinks {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    a:hover {
        // border-bottom: solid #ae0d0d 2px;
        color: #d80000;
    }
    * {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        border-bottom: solid rgba(0, 0, 0, 0) 3px;
        transition: 0.2s;
    }
}