.PageAbout {
    width: 100%;
    background-color: rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;

    .Wrapper {
        width: 70%;
        background-color: white;
        height: 500px;
    }

    .Text {
        padding: 30px 30px 0 30px;
    }
}