.Filter {
    width: 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid grey 1px;
    height: fit-content;
    gap: 10px;
    margin: 6px;
    padding: 10px 0 10px 0;

    .Title {
        font-weight: bold;
    }

    .Block {
        width: 80%;
        display: flex;
        flex-direction: column;

        input {
            margin-right: 5px;
        }

        input[type='checkbox'], input[type='radio'] {
            cursor: pointer;
        }

        .Row {
            display: flex;

            p {
                margin-right: 5px;
            }
        }

        > p {
            margin-bottom: 2px;
            font-weight: bold;
        }

        .InputNumber {
            width: 130px;
        }
    }

    .Button {
        cursor: pointer;
    }
}

@media (min-width: 0px) and (max-width: 766px) {
    .Filter {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;

        .Block {
            width: auto;

            .Button {
                width: 100px;
            }
        }
        .Title {
            display: none;
        }
    }
}