.PageCatalog {
    width: 100%;
    display: flex;

    .Section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .ItemsField {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        border: solid black 1px;
    }
}