.PageCatalog {
    width: 100%;
    display: flex;

    .Section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .ItemsField {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
        padding: 6px;
        margin-bottom: 20px;
    }

    .Message {
        width: 100%;
        height: 100%;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ButtonPaginationBlock {

        margin: 0 auto;

        button {
            height: 50px;
            width: 50px;
            border-radius: 25px;
            font-size: 20px;
            cursor: pointer;
            margin: 30px 10px 30px 10px
        }

        button:hover {
            background-color: rgb(255, 195, 106);
        }

    }
}