.PageHome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(197, 197, 197);

    .Wrapper {
        width: 70%;
        background-color: white;
    }

    .RowSeries {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        .Img {
            height: 280px;
            width: 280px;
            background-color: white;
        }

        .Text {
            height: 280px;
            width: 500px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
            font-size: 18px;
            text-align: justify;
        }
    }
}

@media (min-width: 0px) and (max-width: 766px) {

    .PageHome {
    
        .Wrapper {
            width: 100%;
        }

        .RowSeries {
            height: auto;

        .Text {
            height: auto;
            font-size: 14px;
            text-align: justify;
            padding: 10px;
        }

        .Img {
            width: 30%;
            height: 30%;
        }

        }

    }
 }