.NavBar {

    height: 50px;
    background-color: rgb(255, 207, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
   
   

    .CartBox {
        display: flex;
        align-items: flex-end;
        text-decoration: none;
       

    .Cart {
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .CartCount {
        width: 30px;
        height: 30px;
        border: solid grey 1px;
        font-size: 22px;
        background-color: white;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e40000;
        }
    }

}