.Footer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f1d48;

    div {
        width: 200px;
        height: 100px;
        border: solid white 1px;
    }
}