.Search {
    width: 40px;
    height: 38px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: linear 0.2s;
    text-decoration: none;
}

.Search:hover {
    color: red;
}

.SearchOpen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;

    .Text {
        font-size: 16px;
        border: none;
        border-bottom: solid black 1px;
        height: 24px;
        outline: none;
        margin-right: 5px;
    }
}

.SearchBlock {
    width: 240px;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    border: solid rgba(0, 0, 0, 0) 2px;
    background-color: white;
}

.SearchBlock:hover {
    border: solid red 2px;
    transition: linear 0.2s;

}

@media (min-width: 0px) and (max-width: 766px) {
   .Search, .SearchOpen, .SearchBlock {
    display: none;
   }
}