.Sort {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin: 6px 0 6px 0;
    
    .Select {
        height: 25px;
        margin-right: 10px;
    }
}